.navbar{
    background-color: black !important;
   
    margin: 0px;
    opacity:0.8;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;
    width: auto !important;
    margin-left: 0px;
    
}

.nav-link{
    font-weight: bold;
    color: white !important;
    font-size: 22px;   
}
.nav-link:hover{
    background-color: #630a0a !important;
 
}