.header{
    height: 150px;
    background-color: black;
    opacity: 0.8;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;    
    

}



h1{
    text-align: center;
}