.form{
    margin-top: 50px;
    text-align: left;
    align-items: left;
    margin-left:0px;
    background-color: rgb(175, 95, 95);
    color: black;
    font-weight: bold;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
    border-radius: 10px;
    
}

.myLabel{
    text-align: right;
    margin-right: 30px;
    width:100px;
}

h1{
    align-items: left;
    text-align: left;
}

.text-box{
    width:60%;
    border-radius: 10px;
}

.add-button{
    margin-left: 100px;
    width: 100px;
    border-radius: 10px;
    opacity: 1;
}

.question-box{
    
    border-radius: 10px;
    width: 70%;
}
